.navigation{
    float: right;
    height: 100%;
}
 
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 10px;
    background-color: #101010;
}
 
.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}
 
.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.header {
    padding: 5px;
    background-color: #101010;
}

.logo-container {  
    display: inline-block;
    color: white;
    padding: 0px 20px;
}

.content {
    padding: 20px 20px;
    font-size: larger;
}

.fotoleft {
    float: left;
    padding: 20px 20px;
}

.fotoright {
    float: right;
    padding: 20px 20px;
}